<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Autores</title>
</head>
<body>
    <h1>Autores</h1>
    <a href="{% url 'author_create' %}">Adicionar Autor</a>
    <ul>
        {% for author in authors %}
            <li>
                <a href="{% url 'author_detail' author.pk %}">{{ author.nome }} {{ author.sobrenome }}</a>
                (<a href="{% url 'author_update' author.pk %}">Editar</a>)
                (<a href="{% url 'author_delete' author.pk %}">Deletar</a>)
            </li>
        {% endfor %}
    </ul>
</body>
</html>
