

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Fornecedores</title>
</head>
<body>
    <h1>Lista de Fornecedores</h1>
    <ul>
        {% for fornecedor in fornecedores %}
            <li>
                <a href="{% url 'detalhe_fornecedor' fornecedor.pk %}">{{ fornecedor.nome }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'cadastrar_fornecedor' %}">Cadastrar Novo Fornecedor</a>
</body>
</html>
