<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Fornecedor</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>

    </style>
</head>
<body>
    <div class="container mt-5">
        <h2>Adicionar Fornecedor</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" required maxlength=60 name="nome" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="cnpj">CNPJ</label>
                    <input type="text" class="form-control" id="cnpj" name="cnpj" required maxlength="14" pattern="[0-9]{14}" oninput="this.value = this.value.replace(/\D/g, '')">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="telefone">Telefone</label>
                    <input type="text" class="form-control" id="telefone" name="telefone" required pattern="[0-9]{10,11}" maxlength="15" oninput="this.value = this.value.replace(/\D/g, '')">
                </div>
                <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" required maxlength="50" name="email" required>
                </div>
            </div>
            <div class="form-group">
                <label for="endereco">Endereço</label>
                <textarea class="form-control" id="endereco" name="endereco" style="height: 40px; resize: none;" maxlength="150" required></textarea>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="numero">Número</label>
                    <input type="text" class="form-control" id="numero" required maxlength="10" name="numero" required>
                </div>
                <div class="form-group col-md-3">
                    <label for="bairro">Bairro</label>
                    <input type="text" class="form-control" id="bairro" required maxlength="30" name="bairro" required>
                </div>
                <div class="form-group col-md-3">
                    <label for="cep">CEP</label>
                    <input type="text" class="form-control" id="cep" name="cep" required maxlength="15" pattern="[0-9]{8}" oninput="this.value = this.value.replace(/\D/g, '')">
                </div>
                <div class="form-group col-md-3">
                    <label for="cidade">Cidade</label>
                    <input type="text" class="form-control" id="cidade" required maxlength="20" name="cidade" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
        <a href="{% url 'lista_fornecedores' %}" class="btn btn-secondary mt-3">Voltar para Lista de Fornecedores</a>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
