
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhe do Fornecedor</title>
</head>
<body>
    <h1>Detalhe do Fornecedor</h1>
    <p><strong>Nome:</strong> {{ fornecedor.nome }}</p>
    <p><strong>CNPJ:</strong> {{ fornecedor.cnpj }}</p>
    <p><strong>Telefone:</strong> {{ fornecedor.telefone }}</p>
    <p><strong>Email:</strong> {{ fornecedor.email }}</p>
    <p><strong>Endereço:</strong> {{fornecedor.endereco }}</p>
    <p><strong>Bairro:</strong> {{ fornecedor.bairro }}</p>
    <p><strong>CEP:</strong> {{ fornecedor.cep }}</p>
    <p><strong>Cidade:</strong> {{ fornecedor.cidade }}</p>
    <a href="{% url 'lista_fornecedores' %}">Voltar para a Lista</a>
</body>
</html>
